body{
    background-color: #a2a2a2;
    font-family: 'Verdana', sans-serif;
    margin: 0;

}

.head{
    color: #242424;
    flex: none;
    margin-bottom: 20px;
}
.card{
    display: flex;

    height: 117px;
    justify-content: space-between;
    width: 1349px;
    align-items: center;
    margin: 0 auto;
    background-color: #242424;
   }

.card-photo{
    display: block;
    height: auto;
    justify-content: center;
    width: 800px;
    align-items: center;
    margin: 0 10px 0 250px;
}
.o-group{
    display: flex;
    justify-content: flex-end;
        
}
.c-button {
    margin-right: 5px;
    display: inline-block;
    height: var(--height);
    padding: 0 calc(var(--height)*.5);
    color: #ccc;
    background-color: #313131;
    border-radius: 99px;
    line-height: var(--height);
    text-decoration: none;
    text-align: center;
    --height: 35px;
    font-size: 15px;
}

.card-text{
    font-size: 15px;
    text-align: center;
}
.card-text1{
    font-size: 15px;
    text-align: start;
    margin: 10px;
}
.card-glov{
    text-align: center;
    color: #1a1812;
}

.card-subtext{
    font-size: 14px;
}

.card-text2{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.card-photos img{
    transition: all 0.5s ease-out;
}

.card-photos img:hover{
    transform: scale(1.1);
}

.card-photos{
    margin: 0;
    display: flex;
    justify-content: space-around;
    }



.card-photos1{
    width: 550px;
    height: auto;
    margin: 0 15px 0 63px;
}

.card-contact{
    font-size: 14px;
    margin: 10px 15px;
}
